.register-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register-container {
    background: lightgray;
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-content: center;
    align-items: center;
}

.register-text-container {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    padding: 10% 0;
}

@media screen and (min-width: 1000px) {
    .register-container {
        width: 300px;
    }

    .register-container input {
        height: 25px;
        width: 175px;
    }
}